/*HEADER*/

nav ul {
    margin:0rem 2rem;
}

nav ul li {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

#logo {
    flex-grow: 1;
    padding-left: 0px;
}

#inscrire {
    order: 1;
}

#heberge,
#activites {
    border-top: 2px solid #F2F2F2;
}

#heberge:hover,
#activites:hover {
    border-top: 2px solid #0065FC;
}

/* la paritie main */
body main { 
    padding: 0rem;
    margin: 0rem 2rem ;
}

/* zone de recherche */
h1 {
    margin-top: 0px;
}

#boutonsearch {
    display: none;
}

form {
    display: flex;
}

input {
    width: 14rem;
}

#bsearch {
    border-radius: 0px 12px 12px 0px;
    width: 100px;
    background:#0065FC;
    border: none;
    outline: none;
    color: #fff;
}

/* les filtres*/
#filtres {
    display: flex;
}

.titrefiltre {
    margin-right: 15px;
    line-height: 7px;
}

.info  {
    padding-bottom: 30px;
}

/********************/
body main .combinearticle {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/*Partie les plus populaires*/
#populaires {
    border-radius: 20px;
    padding: 0.5rem 2rem; 
    width: 25vw;
}

figure {
    margin: 0rem;
}

#populaires .imgaside {
    width: 11vw;
    height: 9.7rem;
}

#populaires figure{
    height: 10rem;
}

#populaires figcaption {
    width: 100vw;
}

#populaires figcaption h3 {
    margin-top: 0.2rem;
    font-size: 1rem;
}

#populaires figcaption p {
    font-size: 0.8rem;
    flex: auto;
}

#populaires .fastar i {
    padding-right: 5px;
}

/*les hebergements à Marseille*/
#hebergements {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0rem 2rem;
    border-radius: 20px;
    margin-right: 1.5rem;
}

#hebergements .imgheberg {
    height: 8rem;
}

#hebergements figure {
    width: 30%;
    min-width: 15vw;
}

#hebergements h2 {
    width: 45vw;
    margin-top: 1.8rem;
}

#hebergements figcaption{
   margin-bottom: 0.8rem;
}

#hebergements .afficherplus {
    width: 100%;
    margin-bottom: 30px;   
}

/*les activités à Marseille*/
.activitesmarseille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 35rem;
}

#activite {
    padding-top: 10px;
}

#activite .imgactivites {
    height: 80%;
}

#activite figure {
    width: 23%;
}

#activite .figure1 {
    height: 100%;
}

#activite .figure2 {
    height: 60%;
}

#activite .figure3 {
    height: 30%;
}

#activite .figure4 {
    height: 45%;
}

#activite .figure1 .imgactivites {
    height: 90%;
}

#activite .figure2 .imgactivites {
    height: 85%;
}

#activite .figure3 .imgactivites {
    height: 67%;
}

#activite .figure4 .imgactivites {
    height: 80%;
}

#activite h2 {
    margin-left: 0.5rem;
}

#activite h3 {
    font-size: 1.1rem;
    margin-top: 10px;
}

/* Footer (pied de page)*/
footer .pieddepage {
    width: 70vw;
}