/*HEADER*/

nav ul {
    margin:0rem 2rem;
}

nav ul li {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

#logo {
    flex-grow: 1;
    margin-left: -1.5rem;
}

#inscrire {
    order: 1;
}

#hebergements,
#activites {
    border-top: 2px solid #F2F2F2;
}

#hebergements:hover,
#activites:hover {
    border-top: 2px solid #0065FC;
}

/* la paritie main */
body main { 
    padding: 0rem;
    margin: 0rem 2rem ;
}

/* zone de recherche */
h1 {
    margin-top: 0px;
}

#boutonsearch {
    display: none;
}

#bsearch {
    border-radius: 0px 12px 12px 0px;
    width: 100px;
    background:#0065FC;
    border: none;
    outline: none;
    color: #fff;
}

/* les filtres*/
#filtres {
    display: flex;
    align-items: center;   
}

.titrefiltre {
    margin-right: 12px;
}

.monfiltre  { 
    margin-right: 12px;
}