/*GLOBAL CSS*/

@font-face { /* nouvelle police nommée raleway*/
	font-family: "Ralewayrgular";
	src: url('police/Raleway-Regular.ttf');
	font-style: normal;
}

html{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}
body {
	background: #F2F2F2;
	font-family: "Ralewayregular";
}
/*header*/

a {
	text-decoration: none;
	color: #0065FC;
}

a[selected="selected"] {
	text-decoration: none;
	font-weight: bold;
}

a[class="class"] {
	color: black;
}

li {
    font-size: 1.1rem;
}