/*GLOBAL CSS*/

@font-face { /* nouvelle police nommée raleway*/
	font-family: "Raleway-regular";
	src: url('police/Raleway-Regular.ttf');
}

html{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}

body {
	background: #F2F2F2;
	font-family: "Raleway-Regular";
}
