/*GLOBAL CSS*/
@font-face { /* nouvelle police nommée raleway*/
	font-family: "Ralewayrgular";
	src: url('police/Raleway-Regular.ttf');
	font-style: normal;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Ralewayregular";
}

/*header*/
a {
	text-decoration: none;
	color: black;
}

#inscrire a {
	color: #0065FC;
}

nav ul {
    display: flex;
    list-style-type: none;
	padding: 0px;
    margin: 0px;
}

#activites a:active, 
#hebergements a:active {
    color:  #0065FC;
}

#imglogo {
	width: 80px;
}